<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= params.appName %></title>
    <%- include('./links/link') %>
    <%- include('./scripts/script') %>
</head>
<body>
    <% if(params.appName != 'auth'){ %>
        <%- include('./layouts/nav') %>
    <% } %>
    <div class="ui main container">
        <div data-bind="module: palette"></div>
    </div>
</body>
<script type="text/javascript">
    require(['jquery', 'knockout', 'Tools', 'Super', 'ko-amd'], function($, ko, Tools, Super){
        ko.amdTemplateEngine.defaultPath = '/js/apps/';
        ko.amdTemplateEngine.defaultSuffix = '.html';
        ko.amdTemplateEngine.defaultRequireTextPluginName = 'text';

        var self = Super.call({}, { parent: {}, data: params });
        self.data.getJS   = Tools.getJS('<%= params.appName %>');
        self.data.getTemp = Tools.getTemp('<%= params.appName %>');

        self.text = ko.observable('测试文字');
        self.palette({
            name        : self.data.getJS('main'),
            template    : self.data.getTemp('main'),
            data        : {
                parent: self,
                data  : self.data
            },
            afterRender : function(){
                $(document.body).trigger('pageReady');
            }
        });

        ko.applyBindings(self);

        $('.ui.dropdown').dropdown();
    });
</script>
</html>